*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.container{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: auto;

}

.container .section{
	position: relative;
	width: 100%;
	height: 100%;
	background-blend-mode: multiply;
	overflow-y: hidden;
}

.container .section:nth-child(1){
	/*background: rgba(255, 0, 0, 0.25) url('../images/bg1.jpg');*/
	background: linear-gradient(to top, #845ec2, #845ec2, #845ec2, #845ec2, #845ec2, #7066c8, #5b6ecc, #4274cd, #007fc9, #0086bd, #008bac, #008e9b);
	background-size: cover;
	background-position: fixed;
}

.container .section:nth-child(2){
	/*background: url('../images/bg2.jpg');*/
	background: linear-gradient(to bottom, #845ec2, #845ec2, #845ec2, #845ec2, #845ec2, #7066c8, #5b6ecc, #4274cd, #007fc9, #0086bd, #008bac, #008e9b);
	background-size: cover;
	background-position: fixed;
}

.container .section:nth-child(3){
	/*background: url('../images/bg3.jpg');*/
	background: linear-gradient(to top, #845ec2, #845ec2, #845ec2, #845ec2, #845ec2, #7066c8, #5b6ecc, #4274cd, #007fc9, #0086bd, #008bac, #008e9b);
	background-size: cover;
	background-position: fixed;
}

.container .section:nth-child(4){
	/*background: url('../images/bg3.jpg');*/
	background: linear-gradient(to top, #845ec2, #845ec2, #845ec2, #845ec2, #845ec2, #7066c8, #5b6ecc, #4274cd, #007fc9, #0086bd, #008bac, #008e9b);
	background-size: cover;
	background-position: fixed;
}

.container .section:nth-child(5){
	/*background: url('../images/bg5.jpg');*/
	background: linear-gradient(to bottom, #845ec2, #845ec2, #845ec2, #845ec2, #845ec2, #7066c8, #5b6ecc, #4274cd, #007fc9, #0086bd, #008bac, #008e9b);
	background-size: cover;
	background-attachment: fixed;
}

.container .section:nth-child(6){
	background: url('../images/bg6.jpg');
	background-size: cover;
	background-attachment: fixed;
}


/*MAIN BODY*/
header{
	display: flex;
}
header span{
	font-size: 100px;
	font-family: 'Aboreto', cursive;
	font-weight: bolder;
	color: white;

}


header #sec-head{
	color: #F8B400;
}

.title{
	transition: 1.5s;
	transform: translateY(0%);
	opacity: 1;
}

nav ul{
	display: flex;
	flex-direction: row;
	margin-left: 50px;
	font-size: 20px;
	font-weight: bold;
	background-color: white;
}
nav ul: hover{
	background-color: red;
}

nav ul li{
	list-style-type: none;
	padding: 8px;
	color: #1C3879;
}

nav ul li:hover{
	background-color: #1C3879;
	color: white;
	transition: 0.5s;
	cursor: pointer;
}

.home{
	margin-top: 20px;
	color: white;
	padding: 25px;
	transition: 1s;
	transform: translateX(0%);
	opacity: 1;
}

.home h3{
	font-size: 35px;
}

.home h2{
	font-size: 75px;
}

.home p{
	font-size: 35px;
}

.home span{
	color: #F8B400;
}

#name{
	color: #F8B400;
}



/*ABOUT ME*/

.sec-info{
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: 1s;
	transform: translateY(-20%);
	opacity: 0;
}

.sec-info h2{
	font-size: 80px;
	font-family: 'Baloo Bhai 2', cursive;
	color: white;
	font-weight: bolder;
}

.sec-info p{
	font-size: 45px;
	margin-top: -20px;
	font-family: 'Baloo Bhai 2', cursive;
	color: #F8B400;
}

.about-content{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 15px;
	overflow-x: hidden;
}
.about-col-left{
	flex-basis: 50%;
	transition: 1s;
	transform: translateX(-50%);
	opacity: 0
}
.about-col-right{
	flex-basis: 50%;
	transition: 1s;
	transform: translateX(50%);
	opacity: 0;
}
.about-content .about-col-left img{
	width: 50%;
	margin: 40px;
	margin-top: -10px;
	margin-left: 90px;
	/*border: 2px solid #F8B400;*/
}

.about-col-right h3{
	overflow-y: hidden;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	font-size: 32px;
	font-family: 'Baloo Bhai 2', cursive;
}

.about-col-right h3 span{
	/*overflow-y: hidden;*/
	color: #F8B400;
	font-size: 22px;
	font-family: 'Baloo Bhai 2', cursive;
	background-color: none;
	padding: 5px 10px;
	border: 2px solid #F8B400;
	border-bottom: 2px solid #F8B400;
	border-right: none;
	border-left: none;

}
/*BORDER EFFECT*/
.about-col-right .border{
	margin-right: 15px;
	/*box-shadow: 0 20px 50px rgba(0,0,0,0.2);*/
	transition: 0.5s;
	position: relative;
	padding: 15px;
	overflow: hidden;
	font-size: 15px;
	color: black;
	font-family: 'Baloo Bhai 2', cursive;
	font-weight: bold;
	color: white;

}


/*SERVICE PAGE*/

.service{
	overflow-y: hidden;
}
.sec-info2{
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: 1s;
	transform: translateY(-20%);
	opacity: 0;
}

.sec-info2 h2{
	font-size: 80px;
	font-family: 'Baloo Bhai 2', cursive;
	color: white;
	font-weight: bolder;
}

.sec-info2 p{
	font-size: 45px;
	margin-top: -20px;
	font-family: 'Baloo Bhai 2', cursive;
	color: #F8B400;
}

.service-cont{
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.service-cont .card{
	position: relative;
	width: 250px;
	height: 250px;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;

	box-shadow: 0 20px 50px rgba(0,0,0,0.2);
	overflow: hidden;
	cursor: pointer;
	transition: 1.5s;

}
.service-cont .card:hover{
	background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.service-cont .card .content-ser{
	padding: 30px;
	text-align: center;
}

.service-cont .card .content-ser h1{
	position: absolute;
	right: 30px;
	font-size: 4em;
	font-weight: 800;
	color: #1779ff;
	z-index: 1;
	opacity: 0.5;
	transition: 0.5s;
}

.service-cont .card:hover .content-ser h1{
	opacity: 1;
	transform: translateY(-60px);
	color: white;
}

.service-cont .card .content-ser h3{
	position: relative;
	font-size: 1.5em;
	color: #fff;
	z-index: 2;
	opacity: 0.5;
	letter-spacing: 1px;
	transition: 0.5s;
	color: #F8B400


}

.service-cont .card .content-ser p{
	position: relative;
	font-size: 1em;
	color: #fff;
	font-weight: 300px;
	z-index: 2;
	opacity: 0.5;
	letter-spacing: 1px;
	transition: 0.5s;
}

.service-cont .card:hover .content-ser p,
.service-cont .card:hover .content-ser h3{
	opacity: 1;
}
#fE{
	font-size: 14px;
}

.service-cont .card span{
	transition: 0.5s;
	opacity: 0;
}

.service-cont .card:hover span{
	opacity: 1;	
}

.service-cont .card span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, transparent, #1779ff);
	animation: animate1 2s linear infinite
}

.service-cont .card span:nth-child(2){
	position: absolute;
	top: 0;
	right: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(to bottom, transparent, #1779ff);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}

.service-cont .card span:nth-child(3){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, transparent, #1779ff);
	animation: animate3 2s linear infinite;
	animation-delay: 1s;
}

.service-cont .card span:nth-child(4){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(to top, transparent, #1779ff);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}


@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}

@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}


@keyframes animate3{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}


@keyframes animate4{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}

.f-card{
	transform: translateX(-50%);
	opacity: 0;
}
.s-card{
	transform: translateY(50%);
	opacity: 0;
}

.t-card{
	transform: translateX(50%);
	opacity: 0;
}
/*WORK PAGE*/
.sec-info3{
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: 1s;
	transform: translateY(-50%);
	opacity: 0
}

.sec-info3 h2{
	font-size: 80px;
	font-family: 'Baloo Bhai 2', cursive;
	color: white;
	font-weight: bolder;
}

.sec-info3 p{
	font-size: 45px;
	margin-top: -20px;
	font-family: 'Baloo Bhai 2', cursive;
	color: #F8B400;
}

.work-cont{
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.work-cont .card{
	position: relative;
	width: 250px;
	height: 250px;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;

	box-shadow: 0 20px 50px rgba(0,0,0,0.2);
	overflow: hidden;
	cursor: pointer;
	transition: 1.5s;

}
.work-cont .card a{
	text-decoration: none;
}
.work-cont .card:hover{
	background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.work-cont .card .content-work{
	padding: 30px;
	text-align: center;
}

.work-cont .card .content-work h1{
	position: absolute;
	right: 30px;
	font-size: 4em;
	font-weight: 800;
	color: #1779ff;
	z-index: 1;
	opacity: 0.5;
	transition: 0.5s;
}

.work-cont .card:hover .content-work h1{
	opacity: 1;
	transform: translateY(-60px);
	color: white;
}

.work-cont .card .content-work h3{
	position: relative;
	font-size: 1.5em;
	color: #fff;
	z-index: 2;
	opacity: 0.5;
	letter-spacing: 1px;
	transition: 0.5s;
	color: #F8B400


}

.w-card1 .content-work img{
	width: 85%;
	margin-top: 20px;

}
.w-card2 .content-work img{
	width: 60%;
	margin-bottom: -30px; 

}

.work-cont .card:hover .content-work p,
.work-cont .card:hover .content-work h3{
	opacity: 1;
}


.work-cont .card span{
	transition: 0.5s;
	opacity: 0;
}

.work-cont .card:hover span{
	opacity: 1;	
}

.work-cont .card span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, transparent, #1779ff);
	animation: animate1 2s linear infinite
}

.work-cont .card span:nth-child(2){
	position: absolute;
	top: 0;
	right: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(to bottom, transparent, #1779ff);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}

.work-cont .card span:nth-child(3){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, transparent, #1779ff);
	animation: animate3 2s linear infinite;
	animation-delay: 1s;
}

.work-cont .card span:nth-child(4){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(to top, transparent, #1779ff);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}


@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}

@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}


@keyframes animate3{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}


@keyframes animate4{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}

.w-card1{
	transform: translateX(50%);
	opacity: 0;
}

.w-card2{
	transform: translateX(-50%);
	opacity: 0;
}


/*SKILLS PAGE*/
.skills{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #222;
	flex-direction: column;
}

.sec-info4{
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: 1s;
	opacity: 0;
	transform: translateY(-50%);
}

.sec-info4 h2{
	font-size: 80px;
	font-family: 'Baloo Bhai 2', cursive;
	color: white;
	font-weight: bolder;
}

.skills-container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.skills-container .skill-card{
	position: relative;
	width: 180px;
	height: 240px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 20px 50px rgba(0,0,0,0.2);
	overflow: hidden;
	margin: 40px;
}

.skills-container .skill-card .percent{
	position: relative;
	width: 150px;
	height: 150px;
	overflow-y: hidden;
}

.skills-container .skill-card .percent svg{
	position: relative;
	width: 150px;
	height: 150px;
	transform: rotate(270deg);
}

.skills-container .skill-card .percent svg circle{
	width: 100%;
	height: 100%;
	fill: transparent;
	stroke-width: 2;
	stroke: #191919; 
	transform: translate(5px, 5px);
}

.skills-container .sCard1 .percent svg circle:nth-child(2){
	stroke: #F8B400;
	stroke-dasharray: 440;
	stroke-dashoffset: 66;
	opacity: 0;
}
.skills-container .sCard2 .percent svg circle:nth-child(2){
	stroke: #F8B400;
	stroke-dasharray: 440;
	stroke-dashoffset: 44;
	opacity: 0;
}

.skills-container .sCard3 .percent svg circle:nth-child(2){
	stroke: #F8B400;
	stroke-dasharray: 440;
	stroke-dashoffset: 110;
	opacity: 0;
}

.skills-container .sCard4 .percent svg circle:nth-child(2){
	stroke: #F8B400;
	stroke-dasharray: 440;
	stroke-dashoffset: 140;
	opacity: 0;
}
.line-animate{
	animation: fadein 1s linear forwards;
	animation-delay: 2s;
}

@keyframes fadein{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.dot{
	position: absolute;
	inset: 5px;
	z-index: 10;
	opacity: 0
}

.d1{
	transform: rotate(306deg);
	/*background: #F8B400;
	box-shadow: 0 0 10px #F8B400, 0 0 30px #F8B400;*/
}

.d2{
	transform: rotate(324deg);
	/*background: #277BC0;
	box-shadow: 0 0 10px #277BC0, 0 0 30px #277BC0;*/
}
.d3{
	transform: rotate(270deg);
}

.d3{
	transform: rotate(245deg);
}

.add-animate1{
	opacity: 1;
	animation: animateDot1 2s linear forwards;
}

.add-animate2{
	opacity: 1;
	animation: animateDot2 2s linear forwards;
}


.add-animate3{
	opacity: 1;
	animation: animateDot3 2s linear forwards;
}

.add-animate4{
	opacity: 1;
	animation: animateDot4 2s linear forwards;
}

@keyframes animateDot1{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(306deg);
	}
}

@keyframes animateDot2{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(324deg);
	}
}

@keyframes animateDot3{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(270deg);
	}
}

@keyframes animateDot4{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(245deg);
	}
}


.dot::before{
	content: '';
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #F8B400;
	box-shadow: 0 0 10px #F8B400, 0 0 30px #F8B400;
}

.number{
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	animation: fadein 1s linear forwards;
	animation-delay: 2s;

}

.number h2{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: 700;
	font-size: 2.5em;
}

.number h2 span{
	font-weight: 300;
	font-size: 0.5em;
}

.number p{
	font-weight: 700;
	font-size: 0.75em;
	letter-spacing: 2px;
	margin-top: 10px;
	text-transform: uppercase;
	color: rgba(255,255,255, 0.75);
}
.sCard1{
	opacity: 0;
	transform: translateX(100%);
	transition: 1.5s;
}

.sCard2{
	opacity: 0;
	transform: translateX(50%);
	transition: 1.5s;
}
.sCard3{
	opacity: 0;
	transform: translateX(-50%);
	transition: 1.5s;
}
.sCard4{
	opacity: 0;
	transform: translateX(-100%);
	transition: 1.5s;
}

.skill-card:hover{
	background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}


/*SCROLL EFFECT*/


.appear{
	transform: translate(0);
	opacity: 1;
}
.to-left{
	transition: 1s;
	transform: translateX(-50%);
	opacity: 0;
}

.to-top{
	transition: 1s;
	transform: translateY(-50%);
	opacity: 0;
}








