*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.intro{
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	transition: 1s;
}

.logo-header{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	overflow-y: hidden;
}

.logo{
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
	font-size: 100px;
}
#sec{
	margin-left: -6px;
}

.logo.active{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo.fade{
	bottom: 150px;
	opacity: 0;
	transition: ease-in-out 0.5s;
}

#third{
	margin-left: 75px;
}

/*MEDIA QUERY*/

@media only screen and (max-width: 750px){
	.logo{
		font-size: 50px;
	}
	.logo-header{
		left: 40%;
		margin: auto;
	}
	#sec{
		margin-left: 0;
	}
	#third{
		margin-left: 40px;
	}	
}