<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/file1.css">
	<link rel="stylesheet" type="text/css" href="../static/css/splash.css">
	<link rel="stylesheet" type="text/css" href="../static/css/border.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ashish Nair</title>
</head>
<body>
	<!-- INTRO -->
	<div class="intro">
		<h1 class="logo-header">
			<span class = 'logo'>
				ASH
			</span>
			<span class="logo" id="sec">
				ISH
			</span>
			<br>
			<span class="logo" id="third">
				NA
			</span>
			<span class="logo" id="four">
				IR
			</span>
		</h1>
	</div>

	<div class="container">
		<!-- HOME PAGE -->
		<div class="section">
			<div class="content">
				<header>
					<div class="title">
						<span>PORTF</span><span id="sec-head">OLIO</span>
					</div>
					<nav>
						<ul>
							<li>Home</li>
							<li>About</li>
							<li>Skills</li>
							<li>Services</li>
							<li>Works</li>
							<li>Contact</li>
						</ul>
					</nav>
				</header>
				<div class="home">
					<h3>Hello, I am</h3>
					<h2>Ashish <span id='name'>Nair</span></h2>
					<p>And I am a <span id="tpd"></span></p>
				</div>
			</div>
		</div>
		<!-- ABOUT PAGE -->
		<div class="section">
			<div class="content about">
				<div class="sec-info">
					<h2>About Me</h2>
					<p>Wanna know  me?</p>
				</div>
				<div class="about-content">
					<div class="about-col-left">
						<img src="../static/images/profile.jpg" alt="">
					</div>
					<div class="about-col-right">
						<h3 id="p-title">Hello, I am Ashish Nair & <br><span id="tpd1"></span><!-- I'm a Full Stack Developer --></h3>
						<div class="border">
							<p>I've been learning the skill of developing websites from scratch to a full-fledged business product, for about 2 years, and now I think I should bring my learnings and skills to use for others benefits.</p>
							<p>I also pursue other interests such as sports, cricket to be specific, reading books and some other activities that help me to develope as an individual</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="content services">
				<div class="sec-info2">
					<h2>Services</h2>
					<p>What I provide?</p>
				</div>
				<div class="service-cont">
					<div class="card f-card">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<div class="content-ser">
							<h1>01</h1>
							<h3>Front-End</h3>
							<p id="fE">Front-End Development is the practice of converting data to a graphical interface, through the use of HTML, CSS and JavaScript, so that users can view and interact with data.</p>
						</div>
					</div>
					<div class="card s-card">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<div class="content-ser">
							<h1>02</h1>
							<h3>Full Stack</h3>
							<p>Full stack development refers to the development of both front end(client side) and backend-end(server side) portions of the web applications.</p>
						</div>
					</div>
					<div class="card t-card">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<div class="content-ser">
							<h1>03</h1>
							<h3>SEO</h3>
							<p>SEO(Search Engine Optimisation) is the art and science of getting pages to rank higher in search engines such as Google.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="content works">
				<div class="sec-info3">
					<h2>Services</h2>
					<p>What I provide?</p>
				</div>

				<div class="work-cont">
					<div class="card w-card1">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<a href="http://ashishn.pythonanywhere.com/" target="_blank">
							<div class="content-work">
								<h1>01</h1>
								<h3>RED Store<br>E-Commerce</h3>
								<img src="../static/images/logo.png">
							</div>
						</a>
					</div>
					<div class="card w-card2">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<a href="http://ashishn.pythonanywhere.com/" target="_blank">
							<div class="content-work">
								<h1>02</h1>
								<h3>Seat Booking<br> Web App</h3>
								<img src="../static/images/logo2.png">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="section skills">
			<div class="sec-info4">
					<h2>Skills</h2>
				</div>
			<div class="skills-container">

				<div class="skill-card sCard1">
					<div class="percent">
						<div class="dot d1"></div>
						<svg>
							<circle cx = '70' cy = '70' r= '70'></circle> 
							<circle cx = '70' cy = '70' r= '70' class='c1'></circle> 
						</svg>
						<div class="number">
							<h2>85<span>%</span></h2>
							<p>Python</p>
						</div>
					</div>
				</div>
				<div class="skill-card sCard2">
					<div class="percent">
						<div class="dot d2"></div>
						<svg>
							<circle cx = '70' cy = '70' r= '70'></circle> 
							<circle cx = '70' cy = '70' r= '70' class='c2'></circle> 
						</svg>
						<div class="number">
							<h2>90<span>%</span></h2>
							<p>HTML</p>
						</div>
					</div>
				</div>
				<div class="skill-card sCard3">
					<div class="percent">
						<div class="dot d3"></div>
						<svg>
							<circle cx = '70' cy = '70' r= '70'></circle> 
							<circle cx = '70' cy = '70' r= '70' class='c3'></circle> 
						</svg>
						<div class="number">
							<h2>75<span>%</span></h2>
							<p>Css</p>
						</div>
					</div>
				</div>
				<div class="skill-card sCard4">
					<div class="percent">
						<div class="dot d4"></div>
						<svg>
							<circle cx = '70' cy = '70' r= '70'></circle> 
							<circle cx = '70' cy = '70' r= '70' class='c4'></circle> 
						</svg>
						<div class="number">
							<h2>68<span>%</span></h2>
							<p>JavaScript</p>
						</div>
					</div>
				</div>
			</div>
				
		</div>
		<div class="section">
			<div class="content">
				<h2>Section Six</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, nesciunt! Repudiandae officiis quo, animi. Tempora optio quibusdam, veritatis tempore esse neque enim, sequi corrupti veniam dignissimos voluptatem. Molestiae eius, cupiditate voluptate voluptatibus.</p>
			</div>
		</div>
	</div>
<script src="../static/js/splash.js"></script>
<script type="text/javascript" src="../static/js/typed.min.js"></script>
<script type="text/javascript">
	let animate = new Typed('#tpd', {
		strings:["Full Stack Developer", "Front-End Developer", "Youtuber"],
		typeSpeed:150,
		backspeed: 150,
		loop:true,
	})

	let animate1 = new Typed('#tpd1', {
		strings:["I'm a Full Stack Developer"],
		typeSpeed:90,
		backspeed: 100,
		loop:true,
	})
</script>
<script src="../static/js/myScroll.js"></script>

</body>
</html>